@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --h2: Outfit;
  --font-roboto: Roboto;

  /* font sizes */
  --sub-header-size: 20px;
  --font-size-13xl: 32px;
  --font-size-lg: 18px;
  --h2-size: 50px;
  --font-size-base: 16px;
  --font-size-3xl: 22px;
  --h1-size: 100px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-darksalmon-100: #ffb19a;
  --color-khaki: #ffe794;

  /* Gaps */
  --gap-3xs: 10px;

  /* Border radiuses */
  --br-6xl: 25px;
  --br-18xl: 37px;
  --br-63xl: 82px;
}
